{% extends 'base.html.twig' %} 

{% block title %}{{ parent() }} | Accueil{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}


{% block h1 %}Bienvenue sur la Bijouterie{% endblock %}

{% block body %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, sunt voluptas! Maiores voluptates neque quo nulla animi repellendus exercitationem sint aut reprehenderit quae harum, quisquam ipsum esse architecto inventore tempora?</p>
       
{% endblock %}




